html {
	margin: 0;
	padding: 0;
	clear: both;
	}
body { 
	background-color: royalblue;
	font: 85% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
	clear: both;
	}

p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}
.page-wrapper {
	padding-left: 5%;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	clear: both;
}

.design-selection {
	float: left;
	width: 30%
}

.design-archives {
	float: right;
	width: 40%;
}

.zen-resources {
	clear: both;
}

h1 {
	color: black;
	width: 100%;
	margin: 0;
	height: 45px;
}




















